<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>PetShopMaven</display-name>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>br.unifacol.petshop.view.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarTimeServlet</display-name>
    <servlet-name>CadastrarTimeServlet</servlet-name>
    <servlet-class>br.teste.servlet.time.CadastrarTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarTimeServlet</servlet-name>
    <url-pattern>/CadastrarTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFuncionarioServlet</display-name>
    <servlet-name>CadastrarFuncionarioServlet</servlet-name>
    <servlet-class>br.teste.servlet.time.CadastrarFuncionarioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFuncionarioServlet</servlet-name>
    <url-pattern>/CadastrarFuncionarioServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarAtletaServlet</display-name>
    <servlet-name>CadastrarAtletaServlet</servlet-name>
    <servlet-class>br.teste.servlet.time.CadastrarAtletaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarAtletaServlet</servlet-name>
    <url-pattern>/CadastrarAtletaServlet</url-pattern>
  </servlet-mapping>
</web-app>